# Web Framework
fastapi
uvicorn[standard]

# AI & Machine Learning
#lightfm
scikit-learn
pandas
numpy

# Integration & Utilities
pydantic
requests
python-multipart

joblib
pydantic

pymysql
sqlalchemy